.appBar {
  position: fixed !important;
  top: 0px !important; }

.logo {
  width: 48px;
  height: 48px;
  background: url(511533eddb85b06cba2bf9584e5f4478.png) no-repeat center center;
  background-size: cover; }
.footer {
  position: fixed !important;
  bottom: 0 !important;
  background-color: #f0f0f0 !important;
  border-top: 1px solid #bbbbbb !important; }
  .footer svg {
    margin: auto; }
@media (max-width: 736px) {
  /* disable text selection on mobile device: iPhone 6+ portrait */
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; } }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin: 0px; }

.content {
  padding: 70px 0 80px 0;
  overflow-x: hidden; }
.heading {
  text-align: center;
  margin: 20px;
  padding: 19px 0px 0px;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.870588); }

.grid {
  max-width: 600px;
  margin: 0px auto; }
  .grid:after {
    content: ' ';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  @media (max-width: 500px) {
    .grid {
      max-width: 300px; } }

.gridContent {
  padding: 10px; }

.gridTitle {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  letter-spacing: 0px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.870588);
  background-color: #eeeeee;
  text-align: center;
  line-height: 64px; }

.gridRequirements {
  margin-bottom: 30px; }
  .gridRequirements h4 {
    margin-bottom: 0; }

.deployment {
  width: 260px;
  height: 300px;
  float: left;
  margin: 20px;
  background-color: #f6f6f6 !important; }

.deploymentButton {
  margin-right: 20px; }

.localTab {
  height: 200px; }
  .localTab h3 {
    display: inline-table;
    width: 100%; }

.localResult {
  height: 150px; }

.code {
  background-color: black;
  color: #c3c1bc;
  height: 100%; }
  .code > div {
    padding: 20px; }

.stepContent {
  min-height: 200px; }

.stepActions {
  margin-top: 10px; }
  .stepActions button {
    margin-right: 10px !important; }

.twoColumn {
  width: 50%;
  float: left;
  display: inline-block; }
  @media (max-width: 500px) {
    .twoColumn {
      width: 100%; } }

.checkboxInProgress > div > div > div > div {
  top: -13px;
  left: -13px; }
.sectionTitle {
  color: lightgray;
  margin: 10px;
  padding: 10px; }

.darkBackgroud {
  background-color: lightgray; }
  .darkBackgroud .sectionTitle {
    color: white; }

.realtime-line .axis {
  stroke-width: 1; }
  .realtime-line .axis .tick line {
    stroke: black;
    stroke-width: 0.2; }
  .realtime-line .axis .tick text {
    fill: black;
    font-size: 0.7em; }
  .realtime-line .axis .domain {
    fill: none;
    stroke: black;
    stroke-width: 0.2; }

.realtime-line .group {
  fill: none;
  stroke: black;
  stroke-width: 1.5; }

.realtime-line .dial .needle path {
  fill: #b21f24; }

.realtime-line .dial circle.label {
  fill: white; }

.realtime-line .dial line.label {
  stroke: white;
  stroke-width: 1px; }

.realtime-line .dial text.label {
  font-family: Arial;
  font-size: 12px;
  fill: gray; }

.realtime-line .dial text.speed {
  fill: white;
  font-size: 24px; }

.eventsOverTimeLegend span {
  display: block;
  float: right;
  width: 50px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  margin: 5px; }

.usersOverTime .custom_padding {
  padding-left: 5px !important;
  padding-right: 5px !important; }

.usersOverTime .card {
  height: 125px;
  border-radius: 2px;
  font-weight: 300; }

.usersOverTime .bg {
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  height: 350px; }

.usersOverTime .shadow {
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3)); }

.usersOverTime .hr-custom {
  border: 0;
  height: 1px;
  background-color: rgba(100, 100, 100, 0.2);
  margin-bottom: 10px !important;
  -background-image: linear-gradient(to right, transparent, rgba(100, 100, 100, 0.5), transparent); }

.usersOverTime .panel-header {
  height: 50px;
  background-color: #f4f4f4;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px; }

.usersOverTime .range-custom {
  padding-bottom: 10px;
  padding-left: 5px; }

.usersOverTime .range-custom-child {
  line-height: 30px; }

.usersOverTime .range-span {
  color: #7f7f85;
  padding-right: 10px; }

.usersOverTime .padding-left-5 {
  padding-left: 5px; }

.usersOverTime .card_header {
  padding: 10px 10px 5px 10px;
  color: #ffffff; }

.usersOverTime .card_body {
  text-align: center;
  color: #ffffff;
  font-size: 3em;
  font-weight: 400; }

.usersOverTime .panel-title {
  color: #6e6e74;
  font-size: 1.5em;
  font-weight: 300; }

.usersOverTime .line-height-30 {
  line-height: 30px; }

.usersOverTime .margin-below-20 {
  margin-bottom: 20px; }

.usersOverTime .line {
  fill: none;
  stroke: #53c79f;
  stroke-width: 3px; }

.usersOverTime .axis {
  fill: #a3a3a7; }

.usersOverTime .axis path,
.usersOverTime .axis line {
  fill: none;
  stroke: #ececed;
  shape-rendering: crispEdges; }

.usersOverTime .axis text {
  font-size: 12px; }

.usersOverTime .y-grid .tick {
  stroke: #ececed;
  opacity: 1; }

.usersOverTime .y-grid path,
.usersOverTime .y-grid line {
  fill: none;
  stroke: #ececed;
  shape-rendering: crispEdges;
  opacity: 1; }

.usersOverTime .dot {
  fill: #FFFFFF;
  stroke: #53c79f;
  stroke-width: 2px; }

.usersOverTime .area {
  opacity: .9;
  stroke: #fff;
  stroke-width: 2px; }

.usersOverTime .tooltip-bg {
  fill: #000;
  opacity: 0.7; }

.usersOverTime .tooltip-text1 {
  font-size: 15px;
  fill: #ffffff; }

.usersOverTime .tooltip-text2 {
  font-size: 20px;
  fill: #a9f3ff; }
.buttonAdd, .buttonDelete, .buttonDeploy, .buttonUndeploy {
  margin: 0px;
  top: auto;
  left: auto;
  position: fixed;
  z-index: 200;
  right: 20px;
  bottom: 78px; }

.buttonAdd {
  right: 10px;
  bottom: 70px; }

.buttonDelete {
  right: 80px; }

.buttonUndeploy {
  right: 130px; }

.buttonDeploy {
  right: 180px; }

.prevent-cell-click {
  position: relative; }

.prevent-cell-click-wrapper:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.status {
  float: left;
  padding-top: 15px; }

/*# sourceMappingURL=e68cdc0583f9f3fe2e0a3ef42e797711.json*/