html {
  font-family: 'Roboto', sans-serif;
}
body {
  font-size: 13px;
  line-height: 20px;
  background-color: gray;
  margin: 0px;
}

:global .foo {
  color:red;
}


.appBar {
  position: fixed;
  top: 90px;
  color:red;
}

.appBar2 {
  position: fixed;
  top: 40px;
  color:red;
}
