.heading {
  text-align: center;
  margin: 20px;
  padding: 19px 0px 0px;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  color:rgba(0, 0, 0, 0.870588);
}

.grid {
  max-width:600px;
  margin: 0px auto;
}

.gridContent{
  padding: 10px;
}

.gridTitle{
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  letter-spacing: 0px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.870588);
  background-color: rgb(238, 238, 238);
  text-align: center;
  line-height: 64px;
}
.gridRequirements{
  margin-bottom: 30px;
  h4{
    margin-bottom: 0;
  }
}

.deployment {
  width:260px;
  height: 300px;
  float: left;
  margin: 20px;
}

.deploymentButton{
  margin-right:20px;
}

.deploymentInProgress{
  float:right;
}